# Data management

In this notebook, we will work with the following:

- Reading and cleaning data with `pandas`.
- Web scraping.
- API access.
- Merging and querying with `pandas`.

In [1]:
import urllib

import pandas as pd
from bs4 import BeautifulSoup
from nytimesarticle import articleAPI

# Reading and cleaning data

`pandas` supports a number of formats that we often find ourselves using.
For example, I often use data in the Stata `dta` and SAS `sas7bdat` formats.
In particular, if you find yourself putting full datasets from WRDS (especially the ones that are not accessible with web forms), you will end up using the SAS format.

`pandas` also handles formats like Excel `xlsx`, comma separated values `csv` (and, indeed, nearly any delimited file), and fixed width data.
The acquisition database, SDC Platinum, has a somewhat unreliable Excel output feature, and the `pandas` fixed width format reader takes nearly all of the pain out of reading in data exported that way.

Note: `pandas` can also write many of the formats that it can read.
A notable exception is `sas7bdat` because it is proprietary and undocumented.
The reader was written with some clever reverse engineering, but writing a valid file is difficult and probably not coming in the future (see [Github issue](https://github.com/pandas-dev/pandas/issues/13031)).
An easy workaround is using the SAS open format `xpt` or `csv`.

In [2]:
# Stata data
firmyear = pd.read_stata('./data/firmyear.dta')
firmyear.head()

  count_of_employees       name  year
0                114  Microsoft  2016
1                124  Microsoft  2017
2                131  Microsoft  2018
3                 72     Google  2016
4                 74     Google  2017

You are likely familiar with a number of data cleaning issues.
However, you may not yet know how to map on what you know in another program to Python.
The pandas documentation has a number of comparison references, including [R](https://pandas.pydata.org/pandas-docs/stable/comparison_with_r.html), [Stata](https://pandas.pydata.org/pandas-docs/stable/comparison_with_stata.html) and [SAS](https://pandas.pydata.org/pandas-docs/stable/comparison_with_sas.html).

Some brief examples are below.

In [3]:
firmyear.dtypes

count_of_employees    object
name                  object
year                  object
dtype: object

In [4]:
firmyear['year'] = firmyear['year'].astype('int')
firmyear['count_of_employees'] = firmyear['count_of_employees'].astype('int')

# Note, a more general version would be:
# cols = firmyear.columns.drop('name')
# firmyear[cols] = firmyear[cols].apply(pd.to_numeric, errors='coerce')

In [5]:
firmyear

   count_of_employees       name  year
0                 114  Microsoft  2016
1                 124  Microsoft  2017
2                 131  Microsoft  2018
3                  72     Google  2016
4                  74     Google  2017
5                  76     Google  2018

In [6]:
firmyear.dtypes

count_of_employees     int64
name                  object
year                   int64
dtype: object

In [7]:
# An example of using dictionaries.
_COLUMNS = {
    'count_of_employees': 'size_emp'
}

firmyear = firmyear.rename(columns=_COLUMNS)

In [8]:
firmyear

   size_emp       name  year
0       114  Microsoft  2016
1       124  Microsoft  2017
2       131  Microsoft  2018
3        72     Google  2016
4        74     Google  2017
5        76     Google  2018

In [9]:
# We can do per-group things like calculating differences.
firmyear['size_emp_change'] = firmyear.groupby(firmyear['name'])['size_emp'].diff()

In [10]:
firmyear

   size_emp       name  year  size_emp_change
0       114  Microsoft  2016              NaN
1       124  Microsoft  2017             10.0
2       131  Microsoft  2018              7.0
3        72     Google  2016              NaN
4        74     Google  2017              2.0
5        76     Google  2018              2.0

# Web scraping

One helpful way of gathering text data is web scraping.
We usually do this in three steps:

1. Retrieve the pages with information we want.
1. Extract the data from the pages.
1. Clean and save the resulting data.

Let's walk through an example of getting press releases from the [Microsoft website](https://news.microsoft.com/category/press-releases/).

I often prefer to work out of order as follows:

1. Figure out how to extract data from one page that has the data.
1. Then, figure out how to automate getting the pages of interest.
1. Run those pages through the procedure in step 1.
1. Clean and save.

This has the benefit of solving what is usually the hardest problem first.

## Important note

As you'll see, the difficulty ramps up a lot here.
Web scraping is easily a full day topic on its own.
Hence, I have two main goals for you:

1. Get a sense of the logic and the process in solving the problem. This is a good start if you want to learn it yourself.
1. Understand what is feasible and achievable. This helps whether you do it yourself or farm it out (and there's a ready talent pool for this).

## Read one page

This is the hardest part.

In [11]:
pr_url_1 = 'https://news.microsoft.com/2018/10/04/redline-communications-and-microsoft-announce-partnership-to-lower-the-cost-of-tv-white-space-solutions/'
pr_req_1 = urllib.request.Request(pr_url_1)
pr_page_1 = urllib.request.urlopen(pr_req_1).read()

In [12]:
pr_soup_1 = BeautifulSoup(pr_page_1)

In [13]:
pr_soup_1.find('meta', property='article:published_time')

In [14]:
pr_soup_1.find('meta', property='article:published_time')['property']

'article:published_time'

In [15]:
pr_soup_1.find('meta', property='article:published_time')['content']

'2018-10-04T13:00:35+00:00'

In [16]:
# List of meta tags to get.
# Note: when in doubt, get everything you might possibly use.
#       It's easier to drop stuff than to re-scrape everything.

_METAS = [
    'article:published_time',
    'article:modified_time',
    'og:title',
    'og:description',
    'og:updated_time',
    'og:url',
    'article:section'
]

In [17]:
pr_data_1 = {}
for meta in _METAS:
    prop = pr_soup_1.find('meta', property=meta)['property']
    content = pr_soup_1.find('meta', property=meta)['content']
    pr_data_1.update({prop: content})

In [18]:
pr_data_1

{'article:published_time': '2018-10-04T13:00:35+00:00',
 'article:modified_time': '2018-10-04T14:43:59+00:00',
 'og:title': 'Redline Communications and Microsoft announce partnership to lower the cost of TV White Space solutions - Stories',
 'og:description': 'The partnership will help make broadband more affordable and accessible for unserved communities in rural areas of the U.S. and globally REDMOND, Wash. — Oct. 4, 2018 — On Thursday, Redline Communications (TSX:RDL) and Microsoft Corp. announced a new partnership that will help address the rural broadband gap using TV White Space technology. Redline, a […ellipsis]',
 'og:updated_time': '2018-10-04T14:43:59+00:00',
 'og:url': 'https://news.microsoft.com/2018/10/04/redline-communications-and-microsoft-announce-partnership-to-lower-the-cost-of-tv-white-space-solutions/',
 'article:section': 'Press Releases'}

In [19]:
pr_soup_1.find('div', {'class': 'entry-content m-blog-content'}).find('h3').string

'The partnership will help make broadband more affordable and accessible for unserved communities in rural areas of the U.S. and globally'

In [20]:
pr_data_1['h3'] = pr_soup_1.find('div', 
                                 {'class': 'entry-content m-blog-content'}
                                ).find('h3').string

In [21]:
pr_data_1

{'article:published_time': '2018-10-04T13:00:35+00:00',
 'article:modified_time': '2018-10-04T14:43:59+00:00',
 'og:title': 'Redline Communications and Microsoft announce partnership to lower the cost of TV White Space solutions - Stories',
 'og:description': 'The partnership will help make broadband more affordable and accessible for unserved communities in rural areas of the U.S. and globally REDMOND, Wash. — Oct. 4, 2018 — On Thursday, Redline Communications (TSX:RDL) and Microsoft Corp. announced a new partnership that will help address the rural broadband gap using TV White Space technology. Redline, a […ellipsis]',
 'og:updated_time': '2018-10-04T14:43:59+00:00',
 'og:url': 'https://news.microsoft.com/2018/10/04/redline-communications-and-microsoft-announce-partnership-to-lower-the-cost-of-tv-white-space-solutions/',
 'article:section': 'Press Releases',
 'h3': 'The partnership will help make broadband more affordable and accessible for unserved communities in rural areas of the U.S. and globally'}

In [22]:
pr_soup_1.find('div', 
               {'class': 'entry-content m-blog-content'}
              ).find_all('p')

[<p><strong>REDMOND, Wash. </strong><strong>—</strong> <strong>Oct. 4, 2018</strong> <strong>—</strong> On Thursday, <a href="https://rdlcom.com/">Redline Communications</a> (TSX:RDL) and <a href="https://www.microsoft.com/en-us/">Microsoft Corp.</a> announced a new partnership that will help address the rural broadband gap using TV White Space technology. Redline, a leader in private wireless networks, will provide its Virtual Fiber™ radio technology in the TV White Space band to Microsoft Airband Initiative partners. Together, Redline and Microsoft’s partnership will help make broadband internet more affordable and accessible to unserved and underserved customers in rural areas in the United States and globally.</p>,
 <p>New cloud services and other technologies make broadband connectivity a necessity to start and grow a small business and to take advantage of advances in agriculture, telemedicine and education. It is a vital part of 21st century infrastructure. Yet, more than 19.4 million Americans living in rural areas lack access to broadband and miss out on the opportunities that connectivity provides. According to a study from <a href="https://blogs.microsoft.com/uploads/2017/07/Rural-Broadband-Strategy-Microsoft-Whitepaper-FINAL-7-10-17.pdf">Boston Consulting Group</a>, a connectivity model that uses a combination of technologies, including TV White Space, can reduce the cost of extending broadband coverage in rural communities. TV White Space is an important part of the solution, creating broadband connections in UHF bands and enabling communication in challenging rural terrains and highly vegetated areas, all while protecting broadcasters and other licensees from harmful interference.</p>,
 <p>This partnership is part of Microsoft’s <a href="https://news.microsoft.com/rural-broadband/">Airband Initiative</a>, which aims to close the broadband gap by extending access to 2 million unserved people in rural America by 2022, using a mix of technology solutions, including TV White Space.</p>,
 <p>“Our work with Redline will increase the availability of competitively priced TV White Space technology, enabling internet service providers (ISPs) to provide access to customers at an affordable price point,” said Paul Garnett, senior director of the Microsoft Airband Initiative. “This availability and utilization of TV White Space is absolutely critical to closing the broadband gap. This partnership will bring rapid evolution to the technology, making a real impact on real lives.”</p>,
 <p>“With its Virtual Fiber™ technology, Redline has been leading the TV White Space market and has been active in digital divide projects for almost a decade,” said Rob Williams, CEO at Redline. “In discussions with Microsoft, we realized that we shared the same vision for approaching the rural broadband gap, and we each possessed critical components to the solution. This partnership with Microsoft will help us address the digital divide more effectively in the U.S. and around the world.”</p>,
 <p>In addition to the partnerships with companies like Redline, Microsoft’s <a href="https://news.microsoft.com/rural-broadband/">Airband Initiative</a> invests in partnerships with ISPs and other telecommunications companies, introduces innovative solutions for rural connectivity, and provides digital skills training for people in newly connected communities.</p>,
 <p><strong>About Redline Communications</strong></p>,
 <p>Redline Communications (TSX:RDL) designs and manufactures powerful wide-area wireless networks for mission-critical applications in challenging locations. Redline networks are used by Oil &amp; Gas companies onshore and offshore, Mining companies on surface and underground operations, by municipalities to remotely monitor infrastructure, and by specialized telecom service providers to deliver premium services. Thousands of businesses worldwide rely on Redline to engineer, plan and deliver ruggedized, secure and reliable networks for their IoT, voice, data and video communications needs. For more information visit <a href="http://www.rdlcom.com/">www.rdlcom.com</a>.</p>,
 <p><strong>About Microsoft</strong></p>,
 <p>Microsoft (Nasdaq “MSFT” @microsoft) enables digital transformation for the era of an intelligent cloud and an intelligent edge. Its mission is to empower every person and every organization on the planet to achieve more.</p>,
 <p><strong>For more information, press only:<br/>
 </strong>Microsoft Media Relations, WE Communications for Microsoft, (425) 638-7777,</p>,
 <p>rrt@we-worldwide.com</p>,
 <p>Louis Lambert, Senior VP Business Development and Marketing for Redline,</p>,
 <p>+1 (905) 479-8344, <a href="mailto:llambert@rdlcom.com">llambert@rdlcom.com</a></p>,
 <p>Cory Pala, Investor Relations for Redline, +1 (416) 657-2400, <a href="mailto:cpala@rdlcom.com">cpala@rdlcom.com</a></p>,
 <p><em>Note to editors</em><em>:</em> For more information, news and perspectives from Microsoft, please visit the Microsoft News Center at <a href="http://news.microsoft.com/">http://news.microsoft.com</a>. Web links, telephone numbers and titles were correct at time of publication, but may have changed. For additional assistance, journalists and analysts may contact Microsoft’s Rapid Response Team or other appropriate contacts listed at <a href="http://news.microsoft.com/microsoft-public-relations-contacts/">http://news.microsoft.com/microsoft-public-relations-contacts</a>.</p>,
 <p> </p>]

In [23]:
# This is a little gnarly.
pr_data_1['body'] = '\n\n'.join(
                        [i.text for i in pr_soup_1.find(
                            'div', 
                            {'class': 'entry-content m-blog-content'}
                            ).find_all('p')])

In [24]:
pr_data_1

{'article:published_time': '2018-10-04T13:00:35+00:00',
 'article:modified_time': '2018-10-04T14:43:59+00:00',
 'og:title': 'Redline Communications and Microsoft announce partnership to lower the cost of TV White Space solutions - Stories',
 'og:description': 'The partnership will help make broadband more affordable and accessible for unserved communities in rural areas of the U.S. and globally REDMOND, Wash. — Oct. 4, 2018 — On Thursday, Redline Communications (TSX:RDL) and Microsoft Corp. announced a new partnership that will help address the rural broadband gap using TV White Space technology. Redline, a […ellipsis]',
 'og:updated_time': '2018-10-04T14:43:59+00:00',
 'og:url': 'https://news.microsoft.com/2018/10/04/redline-communications-and-microsoft-announce-partnership-to-lower-the-cost-of-tv-white-space-solutions/',
 'article:section': 'Press Releases',
 'h3': 'The partnership will help make broadband more affordable and accessible for unserved communities in rural areas of the U.S. and globally',
 'body': 'REDMOND, Wash. — Oct. 4, 2018 — On Thursday, Redline Communications (TSX:RDL) and Microsoft Corp. announced a new partnership that will help address the rural broadband gap using TV White Space technology. Redline, a leader in private wireless networks, will provide its Virtual Fiber™ radio technology in the TV White Space band to Microsoft Airband Initiative partners. Together, Redline and Microsoft’s partnership will help make broadband internet more affordable and accessible to unserved and underserved customers in rural areas in the United States and globally.\n\nNew cloud services and other technologies make broadband connectivity a necessity to start and grow a small business and to take advantage of advances in agriculture, telemedicine and education. It is a vital part of 21st century infrastructure. Yet, more than 19.4 million Americans living in rural areas lack access to broadband and miss out on the opportunities that connectivity provides. According to a study from Boston Consulting Group, a connectivity model that uses a combination of technologies, including TV White Space, can reduce the cost of extending broadband coverage in rural communities. TV White Space is an important part of the solution, creating broadband connections in UHF bands and enabling communication in challenging rural terrains and highly vegetated areas, all while protecting broadcasters and other licensees from harmful interference.\n\nThis partnership is part of Microsoft’s Airband Initiative, which aims to close the broadband gap by extending access to 2 million unserved people in rural America by 2022, using a mix of technology solutions, including TV White Space.\n\n“Our work with Redline will increase the availability of competitively priced TV White Space technology, enabling internet service providers (ISPs) to provide access to customers at an affordable price point,” said Paul Garnett, senior director of the Microsoft Airband Initiative. “This availability and utilization of TV White Space is absolutely critical to closing the broadband gap. This partnership will bring rapid evolution to the technology, making a real impact on real lives.”\n\n“With its Virtual Fiber™ technology, Redline has been leading the TV White Space market and has been active in digital divide projects for almost a decade,” said Rob Williams, CEO at Redline.\xa0“In discussions with Microsoft, we realized that we shared the same vision for approaching the rural broadband gap, and we each possessed critical components to the solution. This partnership with Microsoft will help us address the digital divide more effectively in the U.S. and around the world.”\n\nIn addition to the partnerships with companies like Redline, Microsoft’s\xa0Airband Initiative\xa0invests in partnerships with ISPs and other telecommunications companies, introduces innovative solutions for rural connectivity, and provides digital skills training for people in newly connected communities.\n\nAbout Redline Communications\n\nRedline Communications (TSX:RDL) designs and manufactures powerful wide-area wireless networks for mission-critical applications in challenging locations. Redline networks are used by Oil & Gas companies onshore and offshore, Mining companies on surface and underground operations, by municipalities to remotely monitor infrastructure, and by specialized telecom service providers to deliver premium services. Thousands of businesses worldwide rely on Redline to engineer, plan and deliver ruggedized, secure and reliable networks for their IoT, voice, data and video communications needs. For more information visit\xa0www.rdlcom.com.\n\nAbout Microsoft\n\nMicrosoft (Nasdaq “MSFT” @microsoft) enables digital transformation for the era of an intelligent cloud and an intelligent edge. Its mission is to empower every person and every organization on the planet to achieve more.\n\nFor more information, press only:\nMicrosoft Media Relations, WE Communications for Microsoft, (425) 638-7777,\n\nrrt@we-worldwide.com\n\nLouis Lambert, Senior VP\u202fBusiness Development\u202fand Marketing for Redline,\n\n+1 (905) 479-8344, llambert@rdlcom.com\n\nCory Pala, Investor Relations for Redline, +1 (416) 657-2400, cpala@rdlcom.com\n\nNote to editors: For more information, news and perspectives from Microsoft, please visit the Microsoft News Center at http://news.microsoft.com. Web links, telephone numbers and titles were correct at time of publication, but may have changed. For additional assistance, journalists and analysts may contact Microsoft’s Rapid Response Team or other appropriate contacts listed at http://news.microsoft.com/microsoft-public-relations-contacts.\n\n\xa0'}

# Automate our one page work.

This is fairly easy. We have the code for it already.
We just need to wrap it in a function.

**Note:** I'm using an `if` statement to check whether these properties exist, and guarding against the case where they don't.
I did this iteratively while building this content, because I noticed (from errors) that many press releases do noe have modification dates.

In [25]:
def get_data_from_soup(soup):
    data = {}
    for meta in _METAS:
        if soup.find('meta', property=meta) is not None:
            prop = soup.find('meta', property=meta)['property']
        if soup.find('meta', property=meta) is not None:
            content = soup.find('meta', property=meta)['content']
        if prop is not None and content is not None:
            data.update({prop: content})
    
    data['h3'] = soup.find('div', 
                           {'class': 'entry-content m-blog-content'}
                          ).find('h3').string
    
    data['body'] = '\n\n'.join(
                        [i.text for i in soup.find(
                            'div', 
                            {'class': 'entry-content m-blog-content'}
                            ).find_all('p')])
    
    return data

In [26]:
# Notice how easy this is once we make a function.
get_data_from_soup(pr_soup_1)

{'article:published_time': '2018-10-04T13:00:35+00:00',
 'article:modified_time': '2018-10-04T14:43:59+00:00',
 'og:title': 'Redline Communications and Microsoft announce partnership to lower the cost of TV White Space solutions - Stories',
 'og:description': 'The partnership will help make broadband more affordable and accessible for unserved communities in rural areas of the U.S. and globally REDMOND, Wash. — Oct. 4, 2018 — On Thursday, Redline Communications (TSX:RDL) and Microsoft Corp. announced a new partnership that will help address the rural broadband gap using TV White Space technology. Redline, a […ellipsis]',
 'og:updated_time': '2018-10-04T14:43:59+00:00',
 'og:url': 'https://news.microsoft.com/2018/10/04/redline-communications-and-microsoft-announce-partnership-to-lower-the-cost-of-tv-white-space-solutions/',
 'article:section': 'Press Releases',
 'h3': 'The partnership will help make broadband more affordable and accessible for unserved communities in rural areas of the U.S. and globally',
 'body': 'REDMOND, Wash. — Oct. 4, 2018 — On Thursday, Redline Communications (TSX:RDL) and Microsoft Corp. announced a new partnership that will help address the rural broadband gap using TV White Space technology. Redline, a leader in private wireless networks, will provide its Virtual Fiber™ radio technology in the TV White Space band to Microsoft Airband Initiative partners. Together, Redline and Microsoft’s partnership will help make broadband internet more affordable and accessible to unserved and underserved customers in rural areas in the United States and globally.\n\nNew cloud services and other technologies make broadband connectivity a necessity to start and grow a small business and to take advantage of advances in agriculture, telemedicine and education. It is a vital part of 21st century infrastructure. Yet, more than 19.4 million Americans living in rural areas lack access to broadband and miss out on the opportunities that connectivity provides. According to a study from Boston Consulting Group, a connectivity model that uses a combination of technologies, including TV White Space, can reduce the cost of extending broadband coverage in rural communities. TV White Space is an important part of the solution, creating broadband connections in UHF bands and enabling communication in challenging rural terrains and highly vegetated areas, all while protecting broadcasters and other licensees from harmful interference.\n\nThis partnership is part of Microsoft’s Airband Initiative, which aims to close the broadband gap by extending access to 2 million unserved people in rural America by 2022, using a mix of technology solutions, including TV White Space.\n\n“Our work with Redline will increase the availability of competitively priced TV White Space technology, enabling internet service providers (ISPs) to provide access to customers at an affordable price point,” said Paul Garnett, senior director of the Microsoft Airband Initiative. “This availability and utilization of TV White Space is absolutely critical to closing the broadband gap. This partnership will bring rapid evolution to the technology, making a real impact on real lives.”\n\n“With its Virtual Fiber™ technology, Redline has been leading the TV White Space market and has been active in digital divide projects for almost a decade,” said Rob Williams, CEO at Redline.\xa0“In discussions with Microsoft, we realized that we shared the same vision for approaching the rural broadband gap, and we each possessed critical components to the solution. This partnership with Microsoft will help us address the digital divide more effectively in the U.S. and around the world.”\n\nIn addition to the partnerships with companies like Redline, Microsoft’s\xa0Airband Initiative\xa0invests in partnerships with ISPs and other telecommunications companies, introduces innovative solutions for rural connectivity, and provides digital skills training for people in newly connected communities.\n\nAbout Redline Communications\n\nRedline Communications (TSX:RDL) designs and manufactures powerful wide-area wireless networks for mission-critical applications in challenging locations. Redline networks are used by Oil & Gas companies onshore and offshore, Mining companies on surface and underground operations, by municipalities to remotely monitor infrastructure, and by specialized telecom service providers to deliver premium services. Thousands of businesses worldwide rely on Redline to engineer, plan and deliver ruggedized, secure and reliable networks for their IoT, voice, data and video communications needs. For more information visit\xa0www.rdlcom.com.\n\nAbout Microsoft\n\nMicrosoft (Nasdaq “MSFT” @microsoft) enables digital transformation for the era of an intelligent cloud and an intelligent edge. Its mission is to empower every person and every organization on the planet to achieve more.\n\nFor more information, press only:\nMicrosoft Media Relations, WE Communications for Microsoft, (425) 638-7777,\n\nrrt@we-worldwide.com\n\nLouis Lambert, Senior VP\u202fBusiness Development\u202fand Marketing for Redline,\n\n+1 (905) 479-8344, llambert@rdlcom.com\n\nCory Pala, Investor Relations for Redline, +1 (416) 657-2400, cpala@rdlcom.com\n\nNote to editors: For more information, news and perspectives from Microsoft, please visit the Microsoft News Center at http://news.microsoft.com. Web links, telephone numbers and titles were correct at time of publication, but may have changed. For additional assistance, journalists and analysts may contact Microsoft’s Rapid Response Team or other appropriate contacts listed at http://news.microsoft.com/microsoft-public-relations-contacts.\n\n\xa0'}

## Read many pages

Now we need to get the URLs for all of the pages we want.

In [27]:
many_pr_url_1 = 'https://news.microsoft.com/category/press-releases/'
many_pr_req_1 = urllib.request.Request(many_pr_url_1)
many_pr_page_1 = urllib.request.urlopen(many_pr_req_1).read()
many_pr_soup_1 = BeautifulSoup(many_pr_page_1)

In [28]:
# Almost, but note the ones at the bottom.
many_pr_soup_1.find('section', id='primary').find_all('a')

[<a class="f-post-link c-heading-6 m-chevron" href="https://news.microsoft.com/2018/10/04/redline-communications-and-microsoft-announce-partnership-to-lower-the-cost-of-tv-white-space-solutions/" ms.title="Redline Communications and Microsoft announce partnership to lower the cost of TV White Space solutions" rel="bookmark">
 		Redline Communications and Microsoft announce partnership to lower the cost of TV White Space solutions	</a>,
 <a class="f-post-link c-heading-6 m-chevron" href="https://news.microsoft.com/2018/09/24/adobe-microsoft-and-sap-announce-the-open-data-initiative-to-empower-a-new-generation-of-customer-experiences/" ms.title="Adobe, Microsoft and SAP announce the Open Data Initiative to empower a new generation of customer experiences" rel="bookmark">
 		Adobe, Microsoft and SAP announce the Open Data Initiative to empower a new generation of customer experiences	</a>,
 <a class="f-post-link c-heading-6 m-chevron" href="https://news.microsoft.com/2018/09/24/microsoft-fortifies-security-and-brings-ai-to-the-masses-at-ignite-2018/" ms.title="Microsoft fortifies security and brings AI to the masses at Ignite 2018" rel="bookmark">
 		Microsoft fortifies security and brings AI to the masses at Ignite 2018	</a>,
 <a class="f-post-link c-heading-6 m-chevron" href="https://news.microsoft.com/2018/09/20/shell-expands-strategic-collaboration-with-microsoft-to-drive-industry-transformation-and-innovation/" ms.title="Shell expands strategic collaboration with Microsoft to drive industry transformation and innovation" rel="bookmark">
 		Shell expands strategic collaboration with Microsoft to drive industry transformation and innovation	</a>,
 <a class="f-post-link c-heading-6 m-chevron" href="https://news.microsoft.com/2018/09/18/microsoft-announces-quarterly-dividend-increase/" ms.title="Microsoft announces quarterly dividend increase" rel="bookmark">
 		Microsoft announces quarterly dividend increase	</a>,
 <a class="f-post-link c-heading-6 m-chevron" href="https://news.microsoft.com/2018/09/13/network-business-systems-and-microsoft-announce-agreement-to-deliver-broadband-internet-to-rural-communities-in-illinois-iowa-and-south-dakota/" ms.title="Network Business Systems and Microsoft announce agreement to deliver broadband internet to rural communities in Illinois, Iowa and South Dakota" rel="bookmark">
 		Network Business Systems and Microsoft announce agreement to deliver broadband internet to rural communities in Illinois, Iowa and South Dakota	</a>,
 <a class="f-post-link c-heading-6 m-chevron" href="https://news.microsoft.com/2018/08/08/agile-networks-and-microsoft-announce-agreement-to-deliver-broadband-internet-access-to-rural-communities-in-ohio/" ms.title="Agile Networks and Microsoft announce agreement to deliver broadband internet access to rural communities in Ohio" rel="bookmark">
 		Agile Networks and Microsoft announce agreement to deliver broadband internet access to rural communities in Ohio	</a>,
 <a class="f-post-link c-heading-6 m-chevron" href="https://news.microsoft.com/2018/08/01/microsoft-awards-grant-to-numbers4health-to-expand-its-telehealth-solution-to-rural-maine/" ms.title="Microsoft awards grant to Numbers4Health to expand its telehealth solution to rural Maine" rel="bookmark">
 		Microsoft awards grant to Numbers4Health to expand its telehealth solution to rural Maine	</a>,
 <a class="f-post-link c-heading-6 m-chevron" href="https://news.microsoft.com/2018/08/01/microsoft-awards-grant-to-tribal-digital-village-and-numbers4health-to-expand-internet-access-and-solutions-for-rural-and-underserved-communities-in-california/" ms.title="Microsoft awards grant to Tribal Digital Village and Numbers4Health to expand internet access and solutions for rural and underserved communities in California" rel="bookmark">
 		Microsoft awards grant to Tribal Digital Village and Numbers4Health to expand internet access and solutions for rural and underserved communities in California	</a>,
 <a class="f-post-link c-heading-6 m-chevron" href="https://news.microsoft.com/2018/08/01/microsoft-awards-grant-to-skylark-wireless-to-expand-internet-access-in-rural-west-virginia/" ms.title="Microsoft awards grant to Skylark Wireless to expand internet access in rural West Virginia" rel="bookmark">
 		Microsoft awards grant to Skylark Wireless to expand internet access in rural West Virginia	</a>,
 <a class="f-post-link c-heading-6 m-chevron" href="https://news.microsoft.com/2018/08/01/microsoft-awards-grant-to-cvwireless-to-expand-internet-access-in-rural-new-york/" ms.title="Microsoft awards grant to CvWireless to expand internet access in rural New York" rel="bookmark">
 		Microsoft awards grant to CvWireless to expand internet access in rural New York	</a>,
 <a class="f-post-link c-heading-6 m-chevron" href="https://news.microsoft.com/2018/08/01/microsoft-awards-grant-to-numbers4health-to-expand-its-telehealth-solution-to-rural-texas/" ms.title="Microsoft awards grant to Numbers4Health to expand its telehealth solution to rural Texas" rel="bookmark">
 		Microsoft awards grant to Numbers4Health to expand its telehealth solution to rural Texas	</a>,
 <a aria-label="Go to page 2 of results" href="https://news.microsoft.com/category/press-releases/page/2/" ms.title="2">2</a>,
 <a aria-label="Go to page 3 of results" href="https://news.microsoft.com/category/press-releases/page/3/" ms.title="3">3</a>,
 <a aria-label="Go to page 835 of results" href="https://news.microsoft.com/category/press-releases/page/835/" ms.title="835">835</a>,
 <a aria-label="Go to next page" class="c-glyph" href="/category/press-releases/?paged=2" ms.title="Next Page">Next</a>]

In [29]:
# Almost, but note the ones at the bottom.
articles = many_pr_soup_1.find('section', id='primary').find_all('article')
links = [i.find('a')['href'] for i in articles]
links

['https://news.microsoft.com/2018/10/04/redline-communications-and-microsoft-announce-partnership-to-lower-the-cost-of-tv-white-space-solutions/',
 'https://news.microsoft.com/2018/09/24/adobe-microsoft-and-sap-announce-the-open-data-initiative-to-empower-a-new-generation-of-customer-experiences/',
 'https://news.microsoft.com/2018/09/24/microsoft-fortifies-security-and-brings-ai-to-the-masses-at-ignite-2018/',
 'https://news.microsoft.com/2018/09/20/shell-expands-strategic-collaboration-with-microsoft-to-drive-industry-transformation-and-innovation/',
 'https://news.microsoft.com/2018/09/18/microsoft-announces-quarterly-dividend-increase/',
 'https://news.microsoft.com/2018/09/13/network-business-systems-and-microsoft-announce-agreement-to-deliver-broadband-internet-to-rural-communities-in-illinois-iowa-and-south-dakota/',
 'https://news.microsoft.com/2018/08/08/agile-networks-and-microsoft-announce-agreement-to-deliver-broadband-internet-access-to-rural-communities-in-ohio/',
 'https://news.microsoft.com/2018/08/01/microsoft-awards-grant-to-numbers4health-to-expand-its-telehealth-solution-to-rural-maine/',
 'https://news.microsoft.com/2018/08/01/microsoft-awards-grant-to-tribal-digital-village-and-numbers4health-to-expand-internet-access-and-solutions-for-rural-and-underserved-communities-in-california/',
 'https://news.microsoft.com/2018/08/01/microsoft-awards-grant-to-skylark-wireless-to-expand-internet-access-in-rural-west-virginia/',
 'https://news.microsoft.com/2018/08/01/microsoft-awards-grant-to-cvwireless-to-expand-internet-access-in-rural-new-york/',
 'https://news.microsoft.com/2018/08/01/microsoft-awards-grant-to-numbers4health-to-expand-its-telehealth-solution-to-rural-texas/']

In [30]:
many_pr_links_1 = links.copy()

## Automate getting links and data from each

In [31]:
# We need to turn links into soup objects a lot, so let's make a function.
def link_to_soup(link):
    req = urllib.request.Request(link)
    page = urllib.request.urlopen(req).read()
    soup = BeautifulSoup(page)
    return soup
    
def get_links_from_link_page(link_page):
    soup = link_to_soup(link_page)
    articles = soup.find('section', id='primary').find_all('article')
    links = [i.find('a')['href'] for i in articles]
    return links

def get_data_from_links(links):
    data_list = []
    for link in links:
        soup = link_to_soup(link)
        data_list.append(get_data_from_soup(soup))
        
    return data_list

In [32]:
pd.DataFrame(get_data_from_links(many_pr_links_1))

,article:modified_time,article:published_time,article:section,body,h3,og:description,og:title,og:updated_time,og:url
0,2018-10-04T14:43:59+00:00,2018-10-04T13:00:35+00:00,Press Releases,"REDMOND, Wash. — Oct. 4, 2018 — On Thursday, R...",The partnership will help make broadband more ...,The partnership will help make broadband more ...,Redline Communications and Microsoft announce ...,2018-10-04T14:43:59+00:00,https://news.microsoft.com/2018/10/04/redline-...
1,2018-09-24T16:11:34+00:00,2018-09-24T13:30:14+00:00,Press Releases,"\nShantanu Narayen, CEO, Adobe (left), Satya N...",Industry leaders team up to help customers con...,Industry leaders team up to help customers con...,"Adobe, Microsoft and SAP announce the Open Dat...",2018-09-24T16:11:34+00:00,https://news.microsoft.com/2018/09/24/adobe-mi...
2,NaN,2018-09-24T13:01:27+00:00,Press Releases,"ORLANDO, Fla. — Sept. 24, 2018 — Monday at Ign...","The company also demonstrated how AI, IoT and ...","The company also demonstrated how AI, IoT and ...",Microsoft fortifies security and brings AI to ...,NaN,https://news.microsoft.com/2018/09/24/microsof...
3,2018-09-20T15:19:45+00:00,2018-09-20T13:00:12+00:00,Press Releases,"REDMOND, Wash., and HOUSTON — Sept. 20, 2018 —...",Shell appoints C3 IoT and Microsoft Azure as i...,Shell appoints C3 IoT and Microsoft Azure as i...,Shell expands strategic collaboration with Mic...,2018-09-20T15:19:45+00:00,https://news.microsoft.com/2018/09/20/shell-ex...
4,NaN,2018-09-18T22:35:54+00:00,Press Releases,"REDMOND, Wash. — Sept. 18, 2018 — Microsoft Co...","Annual shareholders meeting set for Nov. 28, 2018","Annual shareholders meeting set for Nov. 28, 2...",Microsoft announces quarterly dividend increas...,NaN,https://news.microsoft.com/2018/09/18/microsof...
5,NaN,2018-09-13T13:00:07+00:00,Press Releases,"REDMOND, Wash. — Sept. 13, 2018 — On Thursday,...",The partnership will benefit hundreds of thous...,The partnership will benefit hundreds of thous...,Network Business Systems and Microsoft announc...,NaN,https://news.microsoft.com/2018/09/13/network-...
6,NaN,2018-08-08T13:00:15+00:00,Press Releases,"CANTON, OH (AUGUST 8, 2018) – Today, Agile Net...",The agreement will leverage underutilized infr...,The agreement will leverage underutilized infr...,Agile Networks and Microsoft announce agreemen...,NaN,https://news.microsoft.com/2018/08/08/agile-ne...
7,NaN,2018-08-01T13:02:21+00:00,Press Releases,"REDMOND, Wash. — Aug. 1, 2018 — On Wednesday, ...",The grant will help expand Numbers4Health’s te...,The grant will help expand Numbers4Health’s te...,Microsoft awards grant to Numbers4Health to ex...,NaN,https://news.microsoft.com/2018/08/01/microsof...
8,NaN,2018-08-01T13:02:02+00:00,Press Releases,"REDMOND, Wash. — Aug. 1, 2018 — On Wednesday, ...",The grant will provide broadband access and te...,The grant will provide broadband access and te...,Microsoft awards grant to Tribal Digital Villa...,NaN,https://news.microsoft.com/2018/08/01/microsof...
9,NaN,2018-08-01T13:01:18+00:00,Press Releases,"REDMOND, Wash. — Aug. 1, 2018 — On Wednesday, ...",The grant will help expand Skylark Wireless’ n...,The grant will help expand Skylark Wireless’ n...,Microsoft awards grant to Skylark Wireless to ...,NaN,https://news.microsoft.com/2018/08/01/microsof...
10,NaN,2018-08-01T13:00:49+00:00,Press Releases,"REDMOND, Wash. — Aug. 1, 2018 — On Wednesday, ...",The grant will help expand CvWireless’ network...,The grant will help expand CvWireless’ network...,Microsoft awards grant to CvWireless to expand...,NaN,https://news.microsoft.com/2018/08/01/microsof...
11,NaN,2018-08-01T13:00:23+00:00,Press Releases,"REDMOND, Wash. — Aug. 1, 2018 — On Wednesday, ...",The grant will help expand Numbers4Health’s te...,The grant will help expand Numbers4Health’s te...,Microsoft awards grant to Numbers4Health to ex...,NaN,https://news.microsoft.com/2018/08/01/microsof...

**Note**: for running time reasons, we're not going to make a multi-links-page version, but note that there's a next page link at the bottom of those pages that can be extracted to build that:

```html
<a href="/category/press-releases/page/2/?paged=3" 
   class="c-glyph x-hidden-focus" 
   aria-label="Go to next page" ms.title="Next Page">
```

# APIs

As we're about to see, it's really nice when sites help us out.

We'll be using the New York Times API, and you'll need a key to use it. You can get one [here](https://developer.nytimes.com/signup), and it will show up by email (very quickly).

In [33]:
# You will replace REDACTED with the key you got in email.
# It's probably obvious, but don't share it.
nyt_api = articleAPI('REDACTED')

msft_articles = nyt_api.search(q='Microsoft', begin_date=20180801)

In [34]:
# Trust me that the JSON for even a short period is very long,
# thus the immediate dataframe processing.
msft_nyt = pd.DataFrame(pd.io.json.json_normalize(msft_articles['response']['docs']))
msft_nyt.head()

,_id,byline.organization,byline.original,byline.person,document_type,headline.content_kicker,headline.kicker,headline.main,headline.name,headline.print_headline,...,print_page,pub_date,score,section_name,snippet,source,type_of_material,uri,web_url,word_count
0,5bae3952068401528a2dd72e,REUTERS,By REUTERS,[],article,None,None,Volkswagen Partners With Microsoft in Cloud Push,None,Volkswagen Partners With Microsoft in Cloud Push,...,NaN,2018-09-28T14:23:13+0000,308.69720,NaN,German automaker Volkswagen AG will use Micros...,Reuters,News,nyt://article/f5d24531-d0b6-566e-a0bb-76fd8908...,https://www.nytimes.com/reuters/2018/09/28/bus...,99
1,5ba8e824068401528a2dca0f,REUTERS,By REUTERS,[],article,None,None,"SAP, Microsoft and Adobe Announce Data Alliance",None,"SAP, Microsoft and Adobe Announce Data Alliance",...,NaN,2018-09-24T13:35:30+0000,290.06796,NaN,"Business software companies SAP, Microsoft and...",Reuters,News,nyt://article/53a342e8-245a-57e5-8f5a-0f4744a2...,https://www.nytimes.com/reuters/2018/09/24/tec...,198
2,5bb295c6068401528a2ddeeb,REUTERS,By REUTERS,[],article,None,None,Microsoft Co-Founder Paul Allen Treated Again ...,None,Microsoft Co-Founder Paul Allen Treated Again ...,...,NaN,2018-10-01T21:46:45+0000,260.16263,NaN,Microsoft Corp co-founder Paul Allen said on M...,Reuters,News,nyt://article/2f19d5d8-3def-5d8d-9ba8-519385d2...,https://www.nytimes.com/reuters/2018/10/01/us/...,273
3,5b7b8e47068401528a2d4ea0,None,By DAVID E. SANGER and SHEERA FRENKEL,"[{'firstname': 'David', 'middlename': 'E.', 'l...",article,None,None,New Russian Hacking Targeted Republican Groups...,None,Russian Hackers Broaden Attacks To Conservatives,...,1,2018-08-21T04:00:04+0000,224.41266,Politics,Microsoft was surprised not that recent “spear...,The New York Times,News,nyt://article/13a88310-6a74-5646-89c2-f86df163...,https://www.nytimes.com/2018/08/21/us/politics...,1256
4,5b7bde7f068401528a2d4f4a,None,By CHRIS STANFORD,"[{'firstname': 'Chris', 'middlename': None, 'l...",article,None,None,"Microsoft, Primary Election, E.P.A.: Your Tues...",None,,...,NaN,2018-08-21T09:42:21+0000,210.07143,NaN,Here’s what you need to know to start your day.,The New York Times,briefing,nyt://article/b6f14469-da14-5d59-95e9-63326c56...,https://www.nytimes.com/2018/08/21/briefing/mi...,1354

In [35]:
# While we're at it, let's add Microsoft's ticker.
# We'd usually add an identifier when getting query results.
msft_nyt['id_ticker'] = 'msft'

In [36]:
# We should also clean up the publication date.
type(msft_nyt['pub_date'][0])

str

In [37]:
msft_nyt['pub_date'] = pd.to_datetime(msft_nyt['pub_date'])
type(msft_nyt['pub_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [38]:
# We're going to look at this a bit later, so let's save it.
msft_nyt.to_csv('./data/msft_nyt.csv', index=False)

# Commercial databases

This is a more difficult topic to cover in a hands-on workshop (especially one with  openly-distributed materials) because of copyright.
They tend to sort out into a couple of types:

1. Those that come in tabular formats and simply require cleaning.
2. Others (like LexisNexis and Factiva) that come in semi-structured form and require extensive parsing. 

For the second type, it's best to either recruit one of the few coauthors with this skillset (and perhaps even a written or partially written implementation) or hiring a programmer or student who can write one.
It's worth noting that it's not all that hard to get a reasonable implementation written, but going from 90 percent parsing accuracy to 99 percent to 99.9+ percent is difficult, painstaking work.

With that in mind, feel free to ask questions about this topic during the workshop.
If time permits, I'll demonstrate some non-sharable stuff.

# Merging

Like other software, `pandas` is great and merging data, and it as some conveniences not found in most other software.

Let's work through a simple example to see it in action.

In [39]:
# Remember our firm year data.
firmyear.head()

   size_emp       name  year  size_emp_change
0       114  Microsoft  2016              NaN
1       124  Microsoft  2017             10.0
2       131  Microsoft  2018              7.0
3        72     Google  2016              NaN
4        74     Google  2017              2.0

In [40]:
stock = pd.read_csv('./data/stock.csv')
stock.head()

   price   tic    yr
0  86.13  msft  2018
1  62.79  msft  2017
2  54.32  msft  2016

What we'd like to do is merge in those Microsoft stock prices from the beginning of those years.
It's a bit contrived for an example, but it mirrors a lot of real world work.

While we know that Microsoft's ticker is MSFT, there's no way for `pandas` to know that without help.
So, to help, we'll make a lookup table using a dictionary.

In [41]:
lookup = {
    'Microsoft': 'MSFT',
    'Google': 'GOOG'
}

In [42]:
firmyear['id_ticker'] = firmyear['name'].map(lookup)
firmyear.head()

   size_emp       name  year  size_emp_change id_ticker
0       114  Microsoft  2016              NaN      MSFT
1       124  Microsoft  2017             10.0      MSFT
2       131  Microsoft  2018              7.0      MSFT
3        72     Google  2016              NaN      GOOG
4        74     Google  2017              2.0      GOOG

In [43]:
# Let's make that lowercase.
firmyear['id_ticker'] = firmyear['id_ticker'].str.lower()
firmyear.head()

   size_emp       name  year  size_emp_change id_ticker
0       114  Microsoft  2016              NaN      msft
1       124  Microsoft  2017             10.0      msft
2       131  Microsoft  2018              7.0      msft
3        72     Google  2016              NaN      goog
4        74     Google  2017              2.0      goog

In Stata, we would have another problem, namely that our column names for merging do not match.
With `pandas`, that's not a problem.

In [44]:
firmyear = firmyear.merge(stock, how='left', 
                          left_on=['id_ticker', 'year'],
                          right_on=['tic', 'yr'],
                          validate='1:1')

In [45]:
firmyear.head()

   size_emp       name  year  size_emp_change id_ticker  price   tic      yr
0       114  Microsoft  2016              NaN      msft  54.32  msft  2016.0
1       124  Microsoft  2017             10.0      msft  62.79  msft  2017.0
2       131  Microsoft  2018              7.0      msft  86.13  msft  2018.0
3        72     Google  2016              NaN      goog    NaN   NaN     NaN
4        74     Google  2017              2.0      goog    NaN   NaN     NaN

# Querying

When working with content data, we often need to do some sort of a query to aggregate data that is interesting to us.

For example, let's add the average word count of articles from our NYT data to our firmyear data.
We're only going to have results for 2018, as that's all the data we pulled.

In [46]:
_AGG = {
    'word_count': ['mean', 'sum']
}

def query_docs(data, ticker, year):
    summary = (data[(data['id_ticker'] == ticker) & 
                    (data['pub_date'].dt.year == year)].agg(_AGG)
                     .T.reset_index(drop=True))
    summary['id_ticker'] = ticker
    summary['year'] = year
    summary = summary.rename(columns={'mean': 'wc_mean', 'sum': 'wc_sum'})
    return summary

In [47]:
results = pd.DataFrame()
for index, row in firmyear.loc[:, ['id_ticker', 'year']].iterrows():
    results = results.append(query_docs(msft_nyt, row['id_ticker'], row['year']))

In [48]:
results

   wc_mean  wc_sum id_ticker  year
0      NaN     0.0      msft  2016
0      NaN     0.0      msft  2017
0    579.1  5791.0      msft  2018
0      NaN     0.0      goog  2016
0      NaN     0.0      goog  2017
0      NaN     0.0      goog  2018

In [49]:
firmyear = firmyear.merge(results, how='left',
                          on=['id_ticker', 'year'],
                          validate='1:1')
firmyear.head()

,size_emp,name,year,size_emp_change,id_ticker,price,tic,yr,wc_mean,wc_sum
0,114,Microsoft,2016,NaN,msft,54.32,msft,2016.0,NaN,0.0
1,124,Microsoft,2017,10.0,msft,62.79,msft,2017.0,NaN,0.0
2,131,Microsoft,2018,7.0,msft,86.13,msft,2018.0,579.1,5791.0
3,72,Google,2016,NaN,goog,NaN,NaN,NaN,NaN,0.0
4,74,Google,2017,2.0,goog,NaN,NaN,NaN,NaN,0.0